<launch>

    <group ns="pbot">
    
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find test3)/urdf/pbot.xacro"/>

        <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-x 7 -y 0 -z 0 -Y 1.5708 -urdf -param robot_description -model Robot1" output="screen"/>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    </group>
</launch>